<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>404 - Page not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css?family=Roboto:400');
    </style>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style404.css')}}">
  </head>

  <body class="align">

    <div class="grid">

      <div class="grid__row">

        <div class="grid__col">
          <div class="box animation animation--shake--vertical">4</div>
        </div>

        <div class="grid__col">
          <div class="box animation animation--reverse animation--shake--vertical">0</div>
        </div>

        <div class="grid__col">
          <div class="box animation animation--shake--vertical">4</div>
        </div>

      </div>

    </div>

  </body>

</html>
  
  

</body>

</html>
