<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Learn more about Octopus Now | Free online healthcare for Indians</title>
	<link rel="icon" type="image/ico" href="{{url_for('static', filename='img/octopusnow.png')}}" />
	<link rel='stylesheet' href="{{url_for('static', filename='css/style.min.css')}}" />
	<link rel='stylesheet' href="{{url_for('static', filename='css/octopusnow.css')}}" />
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800&display=swap');
		@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300i&display=swap');
		.users {
			padding-right:20px; 
			padding-left:20px;
		}
		#banner-post {
			border: 1px solid red;
		}
	</style>
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container_">
			<div class="navbar__inner">
				<a href="{{url_for('session')}}" class="navbar__logo"><img src="{{url_for('static', filename='img/octopusnow.png')}}" id="logoimg"><span style="font-family: 'Alegreya Sans', sans-serif !important;">Octopus</span>&nbsp;<span style="font-family: 'Roboto Condensed', sans-serif !important;">Now</span></a>
				<nav class="navbar__menu">
					<ul>
						<li><a href="{{url_for('contactus')}}">Contact us</a></li>
						<li><a href="{{url_for('aboutus')}}">Learn more</a></li>
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit --><div class="page__header">
	<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="page__header__inner">
			<div class="container">
				<div class="page__header__content">
					<div class="page__header__content__inner" id='navConverter'>
						<div class="searchsetup">
							<div id="form">
								<form action="" method='POST'>
									<input type="text" name="search" id="searchbar" class="searchbar" value="{{question}}">
									<input type="submit" name="submitbutton" id="button" value="" class="searchbar">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="page">
		<div class="container">
			<div class="page__inner">
				<div class="page__menu">
					<ul class="vMenu">
						
						<!-- Chatbots -->
						{% for help in helpers %}
						<li>
							<div id="contactnames">
								<a href="{{help[1]}}">{{help[0]}}</a>
							</div>	
						</li>
						{% endfor %}
					</ul>
				</div>

				<!-- Search Results -->
				<div class="page__main">
					<p style="text-align: left;top-margin: 50px;font-size: x-large;">{{answer}}</p>
					{% if relatedquestions %}
					<h3><u>Related Questions</u></h3>
					{% endif %}
					<ul style="list-style-type: none;">
						{% for questions in relatedquestions %}
						<li>
							<form action="{{url_for('octopusnow')}}" method="POST">
								<input style="background-color: transparent;border: 1px solid black;cursor: pointer;max-width: 900px;" type="submit" name="{{questions}}" value="{{questions}}">
							</form>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	

<script src="{{url_for('static', filename='js/app.min.js')}}"></script>
</body>
</html>